awsebcli
appdirs
beautifulsoup4
blinker
blosc2
bs4
certifi
cffi
charset-normalizer
click
colorama
cryptography
Cython
Flask
frozendict
html5lib
idna
itsdangerous
Jinja2
lxml
MarkupSafe
msgpack
multitasking
numexpr
numpy
packaging
pandas
pandas-datareader
pandas-ta
py-cpuinfo
pycparser
python-dateutil
python-dotenv
pytz
requests
six
soupsieve
tables
tzdata
urllib3
waitress
webencodings
Werkzeug
yfinance