{% extends 'template.j2' %}
{% block head %}
<style>
#main {
	background-color: #FFFFFF;
	border-radius: 10px;
}
</style>
{% endblock %}
{% block body %}
<div id='main' class='container bg-light'>
	<h1 class='text-center'>{% block strategy %}_Strategy_{% endblock %}</h1>
	<p class='text-center'>Updated as of : <b>{{ db.last_pull_pretty }}</b><br><button id='refresh' class='btn btn-primary' onclick='javascript:get_last_pull()'>Refresh</button></p>
    <table class='table table-bordered table-striped'>
        <!-- Put Something in this TR -->
        <tr>
            <th>Symbol</th>
            <th>Type</th>
            <th>Strike</th>
            <th>DMI</th>
            <th>StochRSI</th>
            <th>ADX</th>
            <th>Pick</th>
            <th>Probability</th>
            <th>Median Gain</th>
            <th>Pricing</th>
        </tr>
        {% for pick in picks %}
        {% if pick.pick %}
        <tr class='table-success'>
        {% else %}
        <tr class='table-danger'>
        {% endif %}
            <td>{{ pick.symbol }}</td>
            <td>{{ pick.type | upper }}</td>
            <td>{{ pick.strike }}</td>
            <td>{{ pick.dmi }}</td>
            <td>{{ pick.rsi }}</td>
            <td>{{ pick.adx }}</td>
            <td>{{ pick.pick }}</td>
            <td>{{ pick.bt[pick.type + '_ratio'] }} ({{ pick.bt[pick.type + '_fraction'] }}%)</td>
            <td>${{ pick.bt[pick.type + '_diff'] }} ({{ pick.bt[pick.type + '_profit'] }}%)</td>
            <td><button type='button' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#myModal' data-bs-ticker='{{ pick.symbol }}' data-bs-gain='{{ pick.bt[pick.type + "_diff"] }}' data-bs-type='{{ pick.type | lower }}'>Get Price</button></td>
        </tr>
        {% endfor %}
    </table>
    <br>
</div>

<div class='modal' id='myModal'>
    <div class='modal-dialog modal-xl'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 id='modal-title' class='modal-title'>Contract Pricing</h4>
                <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
            </div>
            <div id='modal-body' class='modal-body'>
                <div class='spinner-border text-primary'></div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn  btn-danger' data-bs-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='functions.js') }}"></script>

{% endblock %}