{% extends 'template.j2' %}
{% block head %}
<style>
#main {
	background-color: #FFFFFF;
	border-radius: 10px;
}
</style>
{% endblock %}
{% block body %}
<div id='main' class='container bg-light'>
	<h1 class='text-center'>Stock Market Algorithms</h1>
	<p class='text-center'>Updated as of : <b>{{ db.last_pull_pretty }}</b><br><button id='refresh' class='btn btn-primary' onclick='javascript:get_last_pull()'>Refresh</button></p>
    <ul class='list-group'>
        <li class='list-group-item text-center'><a href='strategy/loading_breakout' target='_blank'>Breakout</a></li>
        <li class='list-group-item text-center'><a href='strategy/loading_breakout_mod' target='_blank'>Breakout (Longer Term)</a></li>
        <li class='list-group-item text-center'><a href='strategy/loading_adx_cross' target='_blank'>ADX Cross</a></li>
        <li class='list-group-item text-center'><a href='strategy/loading_golden_cross' target='_blank'>Golden Cross</a></li>
    </ul>
    <br>
</div>

<script src="{{ url_for('static', filename='functions.js') }}"></script>

{% endblock %}